apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
  annotations:
    argocd.argoproj.io/ignore-resource-updates: "true"
type: Opaque
stringData:
  api-token: ${CF_API_TOKEN}
