# cert-manager
ACME_EMAIL=''
CF_API_TOKEN=''

# metallb
IP_ADDRESS_POOL=''

# longhorn
LONGHORN_BASIC_AUTH=''

# cloudflare-tunnel
CF_ACCOUNT_TAG=''
CF_TUNNEL_ID=''
CF_TUNNEL_SECRET=''

# mimir
MIMIR_AWS_ENDPOINT_URL_S3=''
MIMIR_AWS_REGION=''
MIMIR_AWS_ACCESS_KEY_ID=''
MIMIR_AWS_SECRET_ACCESS_KEY=''
MIMIR_BLOCKS_STORAGE_BUCKET_NAME=''
MIMIR_RULER_STORAGE_BUCKET_NAME=''
MIMIR_ALERTMANAGER_STORAGE_BUCKET_NAME=''
MIMIR_BASIC_AUTH=''

# loki
LOKI_AWS_ENDPOINT_URL_S3=''
LOKI_AWS_REGION=''
LOKI_AWS_ACCESS_KEY_ID=''
LOKI_AWS_SECRET_ACCESS_KEY=''
LOKI_CHUNKS_BUCKET_NAME=''
LOKI_RULER_BUCKET_NAME=''
LOKI_ADMIN_BUCKET_NAME=''
LOKI_BASIC_AUTH=''

# mediamtx
MEDIAMTX_AUTH_INTERNAL_USERS=''
