# cert-manager
ACME_EMAIL=''
CF_API_TOKEN=''

# metallb
IP_ADDRESS_POOL=''

# longhorn
LONGHORN_BASIC_AUTH=''

# mediamtx
MEDIAMTX_AUTH_INTERNAL_USERS=''

# cloudflare-tunnel
CF_ACCOUNT_TAG=''
CF_TUNNEL_ID=''
CF_TUNNEL_SECRET=''
