cf_account_tag: {{ env "CF_ACCOUNT_TAG" | required "CF_ACCOUNT_TAG is not set" | quote }}
cf_tunnel_id: {{ env "CF_TUNNEL_ID" | required "CF_TUNNEL_ID is not set" | quote }}
cf_tunnel_secret: {{ env "CF_TUNNEL_SECRET" | required "CF_TUNNEL_SECRET is not set" | quote }}
