apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
  annotations:
    argocd.argoproj.io/sync-options: Skip
type: Opaque
stringData:
  api-token: ${CF_API_TOKEN}
